[package]
name = "sp1-gpu-tracing"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
sp1-gpu-cudart = { workspace = true }

tracing-subscriber = "0.3.19"
tracing = { workspace = true }

[lints]
workspace = true
