[workspace.package]
version = "1.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/succinctlabs/spl.git"
keywords = ["spl", "succinct", "zero-knowledge"]
categories = ["cryptography"]

[workspace.lints.clippy]
missing_docs = "warn"

[workspace]
members = [
    "crates/air",
    "crates/basefold",
    "crates/challenger",
    "crates/cuda",
    "crates/sys",
    "crates/dft",
    "crates/merkle-tree",
    "crates/basefold",
    "crates/jagged",
    "crates/zerocheck",
    "crates/prover",
    "crates/tracing",
    "crates/perf",
    # "crates/tracegen",
    "crates/logup-gkr",
]
exclude = ["crates/tracegen"]
resolver = "2"

[profile.dev]
opt-level = 3
debug = false

[profile.lto]
inherits = "release"
lto = "thin"
incremental = true

[profile.release]
lto = true

[workspace.dependencies]
# cuslop
csl-sys = { path = "crates/sys" }
csl-cuda = { path = "crates/cuda" }
csl-dft = { path = "crates/dft" }
csl-merkle-tree = { path = "crates/merkle-tree" }
csl-basefold = { path = "crates/basefold" }
csl-challenger = { path = "crates/challenger" }
csl-jagged = { path = "crates/jagged" }
csl-air = { path = "crates/air" }
csl-zerocheck = { path = "crates/zerocheck" }
csl-tracing = { path = "crates/tracing" }
csl-prover = { path = "crates/prover" }
csl-perf = { path = "crates/perf" }
# csl-tracegen = { path = "crates/tracegen" }
csl-logup-gkr = { path = "crates/logup-gkr" }

# slop 
slop-air = { git = "https://github.com/succinctlabs/slop" }
slop-baby-bear = { git = "https://github.com/succinctlabs/slop" }
slop-basefold = { git = "https://github.com/succinctlabs/slop" }
slop-basefold-prover = { git = "https://github.com/succinctlabs/slop" }
slop-dft = { git = "https://github.com/succinctlabs/slop" }
slop-matrix = { git = "https://github.com/succinctlabs/slop" }
slop-algebra = { git = "https://github.com/succinctlabs/slop" }
slop-symmetric = { git = "https://github.com/succinctlabs/slop" }
slop-merkle-tree = { git = "https://github.com/succinctlabs/slop" }
slop-poseidon2 = { git = "https://github.com/succinctlabs/slop" }
slop-commit = { git = "https://github.com/succinctlabs/slop" }
slop-challenger = { git = "https://github.com/succinctlabs/slop" }
slop-multilinear = { git = "https://github.com/succinctlabs/slop" }
slop-tensor = { git = "https://github.com/succinctlabs/slop" }
slop-sumcheck = { git = "https://github.com/succinctlabs/slop" }
slop-alloc = { git = "https://github.com/succinctlabs/slop" }
slop-futures = { git = "https://github.com/succinctlabs/slop" }
slop-stacked = { git = "https://github.com/succinctlabs/slop" }
slop-jagged = { git = "https://github.com/succinctlabs/slop" }

# SP1
sp1-core-machine = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
sp1-core-executor = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
sp1-stark = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
sp1-primitives = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
sp1-prover = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
sp1-recursion-circuit = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
sp1-recursion-compiler = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
sp1-recursion-machine = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
sp1-curves = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "tamir/gkr-unified-clean" }
# slop local copy
# slop-air = { path = "../slop/crates/air" }
# slop-baby-bear = { path = "../slop/crates/baby-bear" }
# slop-basefold = { path = "../slop/crates/basefold" }
# slop-basefold-prover = { path = "../slop/crates/basefold-prover" }
# slop-dft = { path = "../slop/crates/dft" }
# slop-matrix = { path = "../slop/crates/matrix" }
# slop-algebra = { path = "../slop/crates/algebra" }
# slop-symmetric = { path = "../slop/crates/symmetric" }
# slop-merkle-tree = { path = "../slop/crates/merkle-tree" }
# slop-poseidon2 = { path = "../slop/crates/poseidon2" }
# slop-commit = { path = "../slop/crates/commit" }
# slop-challenger = { path = "../slop/crates/challenger" }
# slop-multilinear = { path = "../slop/crates/multilinear" }
# slop-alloc = { path = "../slop/crates/alloc" }
# slop-tensor = { path = "../slop/crates/tensor" }
# slop-sumcheck = { path = "../slop/crates/sumcheck" }
# slop-futures = { path = "../slop/crates/futures" }
# slop-stacked = { path = "../slop/crates/stacked" }
# slop-jagged = { path = "../slop/crates/jagged" }

# for local development
# sp1-core-executor = { path = "../sp1-wip/crates/core/executor" }
# sp1-core-machine = { path = "../sp1-wip/crates/core/machine" }
# sp1-stark = { path = "../sp1-wip/crates/stark" }
# sp1-primitives = { path = "../sp1-wip/crates/primitives" }
# sp1-prover = { path = "../sp1-wip/crates/prover" }
# sp1-recursion-circuit = { path = "../sp1-wip/crates/recursion/circuit" }
# sp1-recursion-compiler = { path = "../sp1-wip/crates/recursion/compiler" }
# sp1-recursion-machine = { path = "../sp1-wip/crates/recursion/machine" }
# sp1-curves = { path = "../sp1-wip/crates/curves" }
# sp1-recursion-executor = { path = "../sp1-wip/crates/recursion/executor" }

# async/concurrency
tokio = { version = "1.42.0" }
futures = "0.3.31"
rayon = "1.10.0"
# misc
tracing = "0.1.40"
thiserror = "1.0"
itertools = "0.14.0"
derive-where = "1.2.7"
serde = { version = "1.0.217", features = ["derive"] }
rand = "0.8"
serial_test = "3.2.0"
cc = { version = "1.0", features = ["parallel"] }
which = "6.0"
cbindgen = "0.27.0"
pathdiff = "0.2.1"
