[workspace.package]
version = "1.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/succinctlabs/spl.git"
keywords = ["spl", "succinct", "zero-knowledge"]
categories = ["cryptography"]


[workspace.lints.clippy]
missing_docs = "warn"

[workspace]
members = [
    "crates/alloc",
    "crates/baby-bear",
    "crates/basefold",
    "crates/derive",
    "crates/device",
    "crates/dft",
    "crates/sys",
]
resolver = "2"

[profile.release]
opt-level = 3
lto = true

[profile.bench]
opt-level = 3

[profile.fast]
inherits = "release"
debug = true
debug-assertions = true

[workspace.dependencies]

# cuslop
csl-alloc = { path = "crates/alloc" }
csl-sys = { path = "crates/sys" }
csl-derive = { path = "crates/derive" }
csl-dft = { path = "crates/dft" }
csl-device = { path = "crates/device" }
csl-baby-bear = { path = "crates/baby-bear" }
# slop
slop-baby-bear = { path = "../slop/crates/baby-bear" }
slop-basefold = { path = "../slop/crates/basefold" }
slop-dft = { path = "../slop/crates/dft" }
slop-matrix = { path = "../slop/crates/matrix" }
slop-algebra = { path = "../slop/crates/algebra" }

# async
tokio = { version = "1.42.0" }


# misc
thiserror = "1.0"
