[workspace.package]
version = "1.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/succinctlabs/spl.git"
keywords = ["spl", "succinct", "zero-knowledge"]
categories = ["cryptography"]

[workspace.lints.clippy]
missing_docs = "warn"

[workspace]
members = [
    "crates/air",
    "crates/bn254",
    "crates/basefold",
    "crates/algebra",
    "crates/basefold-prover",
    "crates/sumcheck",
    "crates/multilinear",
    "crates/utils",
    "crates/baby-bear",
    "crates/dft",
    "crates/matrix",
    "crates/symmetric",
    "crates/merkle-tree",
    "crates/poseidon2",
    "crates/commit",
    "crates/challenger",
    "crates/fri",
    "crates/maybe-rayon",
    "crates/tensor",
    "crates/alloc",
    "crates/slop",
    "crates/jagged",
    "crates/stacked",
    "crates/pcs-bench",
    "crates/futures",
    "crates/keccak-air",
    "crates/uni-stark",
]
resolver = "2"

[profile.release]
opt-level = 3

[profile.bench]
opt-level = 3

[profile.fast]
inherits = "release"
debug = true
debug-assertions = true

[workspace.dependencies]
p3-air = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-bn254-fr = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-field = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-commit = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-matrix = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-baby-bear = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config", features = [
    "nightly-features",
] }
p3-util = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-challenger = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-dft = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-maybe-rayon = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config", features = [
    "parallel",
] }
p3-merkle-tree = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-poseidon2 = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-symmetric = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-fri = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-uni-stark = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }
p3-keccak-air = { git = "https://github.com/erabinov/Plonky3/", branch = "clone_config" }


# slop
slop-basefold = { path = "crates/basefold" }
slop-bn254 = { path = "crates/bn254" }
slop-algebra = { path = "crates/algebra" }
slop-sumcheck = { path = "crates/sumcheck" }
slop-multilinear = { path = "crates/multilinear" }
slop-utils = { path = "crates/utils" }
slop-baby-bear = { path = "crates/baby-bear" }
slop-dft = { path = "crates/dft" }
slop-matrix = { path = "crates/matrix" }
slop-symmetric = { path = "crates/symmetric" }
slop-merkle-tree = { path = "crates/merkle-tree" }
slop-poseidon2 = { path = "crates/poseidon2" }
slop-commit = { path = "crates/commit" }
slop-challenger = { path = "crates/challenger" }
slop-fri = { path = "crates/fri" }
slop-maybe-rayon = { path = "crates/maybe-rayon" }
slop-tensor = { path = "crates/tensor" }
slop-alloc = { path = "crates/alloc" }
slop = { path = "crates/slop" }
slop-jagged = { path = "crates/jagged" }
slop-basefold-prover = { path = "crates/basefold-prover" }
slop-stacked = { path = "crates/stacked" }
slop-pcs-bench = { path = "crates/pcs-bench" }
slop-futures = { path = "crates/futures" }
slop-keccak-air = { path = "crates/keccak-air" }
slop-uni-stark = { path = "crates/uni-stark" }

# For local development. 
# p3-air = { path = "../Plonky3/air" }
# p3-field = { path = "../Plonky3/field", features = ["profile_ops"] }
# p3-field = { path = "../Plonky3/field" }
# p3-commit = { path = "../Plonky3/commit" }
# p3-matrix = { path = "../Plonky3/matrix" }
# p3-baby-bear = { path = "../Plonky3/baby-bear", features = ["nightly-features", "profile_ops"] }
# p3-baby-bear = { path = "../Plonky3/baby-bear", features = ["nightly-features"] }
# p3-util = { path = "../Plonky3/util", features = ["profile_ops"] }
# p3-util = { path = "../Plonky3/util" }
# p3-challenger = { path = "../Plonky3/challenger" }
# p3-dft = { path = "../Plonky3/dft" }
# p3-fri = { path = "../Plonky3/fri" }
# p3-goldilocks = { path = "../Plonky3/goldilocks" }
# p3-keccak = { path = "../Plonky3/keccak" }
# p3-keccak-air = { path = "../Plonky3/keccak-air" }
# p3-blake3 = { path = "../Plonky3/blake3" }
# p3-mds = { path = "../Plonky3/mds" }
# p3-merkle-tree = { path = "../Plonky3/merkle-tree" }
# p3-poseidon2 = { path = "../Plonky3/poseidon2", features = ["profile_ops"] }
# p3-poseidon2 = { path = "../Plonky3/poseidon2" }
# p3-symmetric = { path = "../Plonky3/symmetric" }
# p3-uni-stark = { path = "../Plonky3/uni-stark" }
# p3-maybe-rayon = { path = "../Plonky3/maybe-rayon", features = ["parallel"] }
# p3-bn254-fr = { path = "../Plonky3/bn254-fr" }


# rayon
rayon = "1.10.0"

# misc
thiserror = "1.0"
itertools = "0.14.0"
derive-where = "1.2.7"
rand = "0.8"
serde = { version = "1.0.217", features = ["derive"] }
tracing = "0.1.40"
serde_json = "1.0"
futures = "0.3.31"
num_cpus = "1.16.0"

# async
tokio = { version = "1.42.0", features = ["full"] }
