[workspace.package]
version = "1.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/succinctlabs/spl.git"
keywords = ["spl", "succinct", "zero-knowledge"]
categories = ["cryptography"]

[workspace]
members = [
    "crates/basefold",
    "crates/algebra",
    "crates/basefold-prover",
    "crates/adapter-prover",
    "crates/sumcheck-prover",
    "crates/sumcheck",
    "crates/multilinear",
    "crates/multivariate-adapter",
    "crates/utils",
    "crates/baby-bear",
    "crates/dft",
    "crates/matrix",
    "crates/symmetric",
    "crates/merkle-tree",
    "crates/poseidon2",
    "crates/commit",
    "crates/challenger",
]
resolver = "2"

[profile.release]
opt-level = 3

[profile.bench]
opt-level = 3

[profile.fast]
inherits = "release"
debug = true
debug-assertions = true

[workspace.dependencies]
# p3
p3-air = "=0.2.0-succinct"
p3-field = "=0.2.0-succinct"
p3-commit = "=0.2.0-succinct"
p3-matrix = "=0.2.0-succinct"
p3-baby-bear = { version = "=0.2.0-succinct", features = ["nightly-features"] }
p3-util = "=0.2.0-succinct"
p3-challenger = "=0.2.0-succinct"
p3-dft = "=0.2.0-succinct"
p3-fri = "=0.2.0-succinct"
p3-merkle-tree = "=0.2.0-succinct"
p3-poseidon2 = "=0.2.0-succinct"
p3-symmetric = "=0.2.0-succinct"
p3-maybe-rayon = {version = "=0.2.0-succinct", features = ["parallel"]}
p3-uni-stark = "=0.2.0-succinct"

slop-basefold = { path = "crates/basefold" }
slop-algebra = { path = "crates/algebra" }
slop-sumcheck = { path = "crates/sumcheck" }
slop-multilinear = { path = "crates/multilinear" }
slop-multivariate-adapter = { path = "crates/multivariate-adapter" }
slop-utils = { path = "crates/utils" }
slop-baby-bear = { path = "crates/baby-bear" }
slop-dft = { path = "crates/dft" }
slop-matrix = { path = "crates/matrix" }
slop-symmetric = { path = "crates/symmetric" }
slop-merkle-tree = { path = "crates/merkle-tree" }
slop-poseidon2 = { path = "crates/poseidon2" }
slop-commit = { path = "crates/commit" }
slop-challenger = { path = "crates/challenger" }
# For local development. 

# p3-air = { path = "../Plonky3/air" }
# p3-field = { path = "../Plonky3/field", features = ["profile_ops"] }
# p3-field = { path = "../Plonky3/field" }
# p3-commit = { path = "../Plonky3/commit" }
# p3-matrix = { path = "../Plonky3/matrix" }
# p3-baby-bear = { path = "../Plonky3/baby-bear", features = ["nightly-features", "profile_ops"] }
# p3-baby-bear = { path = "../Plonky3/baby-bear", features = ["nightly-features"] }
# p3-util = { path = "../Plonky3/util", features = ["profile_ops"] }
# p3-util = { path = "../Plonky3/util" }
# p3-challenger = { path = "../Plonky3/challenger" }
# p3-dft = { path = "../Plonky3/dft" }
# p3-fri = { path = "../Plonky3/fri" }
# p3-goldilocks = { path = "../Plonky3/goldilocks" }
# p3-keccak = { path = "../Plonky3/keccak" }
# p3-keccak-air = { path = "../Plonky3/keccak-air" }
# p3-blake3 = { path = "../Plonky3/blake3" }
# p3-mds = { path = "../Plonky3/mds" }
# p3-merkle-tree = { path = "../Plonky3/merkle-tree" }
# p3-poseidon2 = { path = "../Plonky3/poseidon2", features = ["profile_ops"] }
# p3-poseidon2 = { path = "../Plonky3/poseidon2" }
# p3-symmetric = { path = "../Plonky3/symmetric" }
# p3-uni-stark = { path = "../Plonky3/uni-stark" }
# p3-maybe-rayon = { path = "../Plonky3/maybe-rayon" }
# p3-bn254-fr = { path = "../Plonky3/bn254-fr" }
