[workspace.package]
version = "1.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/succinctlabs/spl.git"
keywords = ["spl", "succinct", "zero-knowledge"]
categories = ["cryptography"]

[workspace.lints.clippy]
missing_docs = "warn"

[workspace]
members = [
    "crates/alloc",
    "crates/baby-bear",
    "crates/basefold",
    "crates/derive",
    "crates/device",
    "crates/dft",
    "crates/merkle-tree",
    "crates/sys",
]
resolver = "2"

[profile.release]
opt-level = 3
lto = true

[profile.bench]
opt-level = 3

[profile.fast]
inherits = "release"
debug = true
debug-assertions = true

[workspace.dependencies]
# cuslop
csl-alloc = { path = "crates/alloc" }
csl-sys = { path = "crates/sys" }
csl-derive = { path = "crates/derive" }
csl-dft = { path = "crates/dft" }
csl-device = { path = "crates/device" }
csl-baby-bear = { path = "crates/baby-bear" }
csl-merkle-tree = { path = "crates/merkle-tree" }


# slop 
slop-baby-bear = { git = "https://github.com/succinctlabs/slop.git" }
slop-basefold = { git = "https://github.com/succinctlabs/slop.git" }
slop-dft = { git = "https://github.com/succinctlabs/slop.git" }
slop-matrix = { git = "https://github.com/succinctlabs/slop.git" }
slop-algebra = { git = "https://github.com/succinctlabs/slop.git" }
slop-symmetric = { git = "https://github.com/succinctlabs/slop.git" }
slop-merkle-tree = { git = "https://github.com/succinctlabs/slop.git" }
slop-poseidon2 = { git = "https://github.com/succinctlabs/slop.git" }
slop-commit = { git = "https://github.com/succinctlabs/slop.git" }
slop-challenger = { git = "https://github.com/succinctlabs/slop.git" }

# slop local copy
# slop-baby-bear = { path = "../slop/crates/baby-bear" }
# slop-basefold = { path = "../slop/crates/basefold" }
# slop-dft = { path = "../slop/crates/dft" }
# slop-matrix = { path = "../slop/crates/matrix" }
# slop-algebra = { path = "../slop/crates/algebra" }
# slop-symmetric = { path = "../slop/crates/symmetric" }
# slop-merkle-tree = { path = "../slop/crates/merkle-tree" }
# slop-poseidon2 = { path = "../slop/crates/poseidon2" }
# slop-commit = { path = "../slop/crates/commit" }
# slop-challenger = { path = "../slop/crates/challenger" }

# async
tokio = { version = "1.42.0" }

# misc
thiserror = "1.0"
