[workspace.package]
version = "1.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/succinctlabs/spl.git"
keywords = ["spl", "succinct", "zero-knowledge"]
categories = ["cryptography"]

[workspace.lints.clippy]
missing_docs = "warn"

[workspace]
members = [
    "crates/air",
    "crates/basefold",
    "crates/cuda",
    "crates/derive",
    "crates/sys",
    "crates/dft",
    "crates/merkle-tree",
    "crates/basefold",
    "crates/jagged",
    "crates/zerocheck",
    "crates/machine",
    "crates/tracing",
    "crates/perf",
]
resolver = "2"

[profile.release]
opt-level = 3
lto = true

[profile.bench]
opt-level = 3

[profile.fast]
inherits = "release"
debug = true
debug-assertions = true

[workspace.dependencies]
# cuslop
csl-sys = { path = "crates/sys" }
csl-derive = { path = "crates/derive" }
csl-cuda = { path = "crates/cuda" }
csl-dft = { path = "crates/dft" }
csl-merkle-tree = { path = "crates/merkle-tree" }
csl-basefold = { path = "crates/basefold" }
csl-jagged = { path = "crates/jagged" }
csl-air = { path = "crates/air" }
csl-zerocheck = { path = "crates/zerocheck" }
csl-tracing = { path = "crates/tracing" }
csl-machine = { path = "crates/machine" }
csl-perf = { path = "crates/perf" }

# slop 
slop-baby-bear = { git = "https://github.com/succinctlabs/slop" }
slop-basefold = { git = "https://github.com/succinctlabs/slop" }
slop-basefold-prover = { git = "https://github.com/succinctlabs/slop" }
slop-dft = { git = "https://github.com/succinctlabs/slop" }
slop-matrix = { git = "https://github.com/succinctlabs/slop" }
slop-algebra = { git = "https://github.com/succinctlabs/slop" }
slop-symmetric = { git = "https://github.com/succinctlabs/slop" }
slop-merkle-tree = { git = "https://github.com/succinctlabs/slop" }
slop-poseidon2 = { git = "https://github.com/succinctlabs/slop" }
slop-commit = { git = "https://github.com/succinctlabs/slop" }
slop-challenger = { git = "https://github.com/succinctlabs/slop" }
slop-multilinear = { git = "https://github.com/succinctlabs/slop" }
slop-tensor = { git = "https://github.com/succinctlabs/slop" }
slop-sumcheck = { git = "https://github.com/succinctlabs/slop" }
slop-alloc = { git = "https://github.com/succinctlabs/slop" }
slop-futures = { git = "https://github.com/succinctlabs/slop" }
slop-stacked = { git = "https://github.com/succinctlabs/slop" }
slop-jagged = { git = "https://github.com/succinctlabs/slop" }
slop-air = { git = "https://github.com/succinctlabs/slop" }

# SP1
sp1-core-machine = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "multilinear_v6" }
sp1-core-executor = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "multilinear_v6" }
sp1-stark = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "multilinear_v6" }
sp1-primitives = { git = "https://github.com/succinctlabs/sp1-wip.git", branch = "multilinear_v6" }
# for testing

# slop local copy
# slop-air = { path = "../slop/crates/air" }
# slop-baby-bear = { path = "../slop/crates/baby-bear" }
# slop-basefold = { path = "../slop/crates/basefold" }
# slop-basefold-prover = { path = "../slop/crates/basefold-prover" }
# slop-dft = { path = "../slop/crates/dft" }
# slop-matrix = { path = "../slop/crates/matrix" }
# slop-algebra = { path = "../slop/crates/algebra" }
# slop-symmetric = { path = "../slop/crates/symmetric" }
# slop-merkle-tree = { path = "../slop/crates/merkle-tree" }
# slop-poseidon2 = { path = "../slop/crates/poseidon2" }
# slop-commit = { path = "../slop/crates/commit" }
# slop-challenger = { path = "../slop/crates/challenger" }
# slop-multilinear = { path = "../slop/crates/multilinear" }
# slop-alloc = { path = "../slop/crates/alloc" }
# slop-tensor = { path = "../slop/crates/tensor" }
# slop-sumcheck = { path = "../slop/crates/sumcheck" }
# slop-futures = { path = "../slop/crates/futures" }
# slop-stacked = { path = "../slop/crates/stacked" }
# slop-jagged = { path = "../slop/crates/jagged" }

# for local development
# sp1-core-executor = { path = "../sp1-wip/crates/core/executor" }
# sp1-core-machine = { path = "../sp1-wip/crates/core/machine" }
# sp1-stark = { path = "../sp1-wip/crates/stark" }
# sp1-primitives = { path = "../sp1-wip/crates/primitives" }
# # For testing.
# test-artifacts = { path = "../sp1-wip/crates/test-artifacts" }

# async
tokio = { version = "1.42.0" }
futures = "0.3.31"
# misc
tracing = "0.1.40"
thiserror = "1.0"
itertools = "0.14.0"
derive-where = "1.2.7"
serde = { version = "1.0.217", features = ["derive"] }
rand = "0.8"
serial_test = "3.2.0"
