[package]
name = "slop-symmetric"
description = "Re-exports p3_symmetric from Plonky3 for SLOP"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-symmetric = { workspace = true }
