name: PR

on:
  push:
    branches: [main, dev]
  pull_request:
    branches:
      - "**"
    paths:
      - "crates/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/**"
      - "cuda/**"
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on:
      [
        "runs-on",
        "family=g6.4xlarge",
        "hdd=200",
        "ami=ami-0a63dc9cb9e934ba3",
        "spot=false",
        "run-id=${{ github.run_id }}",
      ]
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Setup CI
        uses: ./.github/actions/setup
        with:
          pull_token: ${{ secrets.PRIVATE_PULL_TOKEN }}

      - name: Set up CUDA environment
        run: |
          echo "CUDA_HOME=/usr/local/cuda-12.6" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=/usr/local/cuda-12.6/lib64:${LD_LIBRARY_PATH}" >> $GITHUB_ENV
          echo "/usr/local/cuda-12.6/bin" >> $GITHUB_PATH
    
      - name: Confirm CUDA installation
        run: |
          echo "CUDA_HOME=$CUDA_HOME"
          which nvcc

      - name: Install SP1 toolchain
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up 
          ~/.sp1/bin/cargo-prove prove --version

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          toolchain: stable
          args: --release --workspace -- --test-threads=1 
        env:
          RUSTFLAGS: -Copt-level=3 -Cdebug-assertions -Coverflow-checks=y -Cdebuginfo=0 -C target-cpu=native
          RUST_BACKTRACE: 1
          CUDA_ARCHS: 89

  # Run sp1-gpu-node
  node:
    name: sp1-gpu-node
    runs-on:
      [
        "runs-on",
        "family=g6.4xlarge",
        "hdd=200",
        "ami=ami-0a63dc9cb9e934ba3",
        "spot=false",
        "run-id=${{ github.run_id }}",
      ]
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Setup CI
        uses: ./.github/actions/setup
        with:
          pull_token: ${{ secrets.PRIVATE_PULL_TOKEN }}

      - name: Set up CUDA environment
        run: |
          echo "CUDA_HOME=/usr/local/cuda-12.6" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=/usr/local/cuda-12.6/lib64:${LD_LIBRARY_PATH}" >> $GITHUB_ENV
          echo "/usr/local/cuda-12.6/bin" >> $GITHUB_PATH
    
      - name: Confirm CUDA installation
        run: |
          echo "CUDA_HOME=$CUDA_HOME"
          which nvcc

      - name: Install SP1 toolchain
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up 
          ~/.sp1/bin/cargo-prove prove --version

      - name: Run end to end prover script
        uses: actions-rs/cargo@v1
        with:
          command: run
          toolchain: stable
          args: --release -p sp1-gpu-perf --bin node --features native-gnark -- --program local-rsp --param 21000001 --mode groth16
        env:
          RUSTFLAGS: -Copt-level=3 -Cdebug-assertions -Coverflow-checks=y -Cdebuginfo=0 -C target-cpu=native
          RUST_BACKTRACE: 1
          CUDA_ARCHS: 89

  lint:
    name: Formatting & Clippy
    runs-on:
      [
        "runs-on",
        "family=g6.4xlarge",
        "hdd=200",
        "ami=ami-0a63dc9cb9e934ba3",
        "spot=false",
        "run-id=${{ github.run_id }}",
      ]
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Setup CI
        uses: ./.github/actions/setup
        with:
          pull_token: ${{ secrets.PRIVATE_PULL_TOKEN }}

      - name: Set up CUDA environment
        run: |
          echo "CUDA_HOME=/usr/local/cuda-12.6" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=/usr/local/cuda-12.6/lib64:${LD_LIBRARY_PATH}" >> $GITHUB_ENV
          echo "/usr/local/cuda-12.6/bin" >> $GITHUB_PATH
    
      - name: Confirm CUDA installation
        run: |
          echo "CUDA_HOME=$CUDA_HOME"
          which nvcc

      - name: Install SP1 toolchain
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up 
          ~/.sp1/bin/cargo-prove prove --version
        
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          toolchain: stable
          args: --all -- --check
        env:
          CARGO_INCREMENTAL: 1

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          toolchain: stable
          args: -- -D warnings -A incomplete-features
        env:
          CARGO_INCREMENTAL: 1

  # Run sp1-gpu-exec
  exec:
    name: sp1-gpu-exec
    runs-on:
      [
        "runs-on",
        "family=g6.4xlarge",
        "hdd=200",
        "ami=ami-0a63dc9cb9e934ba3",
        "spot=false",
        "run-id=${{ github.run_id }}",
      ]
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Setup CI
        uses: ./.github/actions/setup
        with:
          pull_token: ${{ secrets.PRIVATE_PULL_TOKEN }}

      - name: Set up CUDA environment
        run: |
          echo "CUDA_HOME=/usr/local/cuda-12.6" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=/usr/local/cuda-12.6/lib64:${LD_LIBRARY_PATH}" >> $GITHUB_ENV
          echo "/usr/local/cuda-12.6/bin" >> $GITHUB_PATH
    
      - name: Confirm CUDA installation
        run: |
          echo "CUDA_HOME=$CUDA_HOME"
          which nvcc

      - name: Install SP1 toolchain
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up 
          ~/.sp1/bin/cargo-prove prove --version

      - name: Run end to end prover script
        uses: actions-rs/cargo@v1
        with:
          command: run
          toolchain: stable
          args: --release -p sp1-gpu-perf --bin exec --features native-gnark -- --program local-rsp --param 21000001 
        env:
          RUSTFLAGS: -Copt-level=3 -Cdebug-assertions -Coverflow-checks=y -Cdebuginfo=0 -C target-cpu=native
          RUST_BACKTRACE: 1
          CUDA_ARCHS: 89