[package]
name = "slop-poseidon2"
description = "Re-exports p3_poseidon2 from Plonky3 for SLOP"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-poseidon2 = { workspace = true }
