[package]
name = "sp1-recursion-gnark-cli"
description = "CLI for SP1 Gnark proof generation"
readme = "../../../README.md"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }

[dependencies]
sp1-recursion-gnark-ffi = { workspace = true, features = ["native"] }
clap = { workspace = true }
bincode = { workspace = true }
