[package]
name = "slop-algebra"
description = "Field algebra and univariate polynomials for SLOP, built on Plonky3"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
p3-field = { workspace = true }
serde = { workspace = true }
itertools = { workspace = true }

[dev-dependencies]
slop-baby-bear = { workspace = true }
